<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% extends 'base.html' %}

{% block content %}

<h1>Cursos de Platzi</h1>

<p>
    <a href="{% url "courses:new" %}">Agregar curso</a>
</p>


<table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Algo</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for course in object_list %}
        <tr>
            <td>{{ course.name }}</td>
            <td></td>
            <td>
                <a class="btn btn-primary" href="{% url "courses:detail" course.id %}">Ver</a> | 
                <a class="btn btn-primary" href="{% url "courses:edit" course.id %}">Editar</a> | 
                <a class="btn btn-primary" href="{% url "courses:delete" course.id %}">Borrar</a> 
            </td>
        </tr>
    {% endfor %}
    
      
    </tbody>
  </table>




 {% endblock %}



<footer class="container-fluid text-center">
  <p>Footer</p>
</footer>